{{>layouts/header}}

<form action="/hospitals/test" method="get">
    {{#keyword}}
        지역검색 : <input type="text" name="keyword" value={{keyword}}>
    {{/keyword}}
    {{^keyword}}
        지역검색 : <input type="text" name="keyword">
    {{/keyword}}
</form>

<container>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">병원명</th>
            <th scope="col">도로명주소</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {{#hospitals}}
            <tr>
                <th scope="row">{{id}}</th>
                <td><a href="/hospitals/{{id}}">{{hospitalName}}</a></td>
                <td>{{roadNameAddress}}</td>
            </tr>
        {{/hospitals}}
        </tbody>
    </table>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        {{#keyword}}
            <a href="/hospitals/test?keyword={{keyword}}&page={{previous}}" class="btn btn-outline-primary">이전 페이지</a>
            <a href="/hospitals/test?keyword={{keyword}}&page={{next}}" class="btn btn-outline-primary">다음 페이지</a>
        {{/keyword}}
        {{^keyword}}
            <a href="/hospitals/list?page={{previous}}" class="btn btn-outline-primary">이전 페이지</a>
            <a href="/hospitals/list?page={{next}}" class="btn btn-outline-primary">다음 페이지</a>
        {{/keyword}}
    </div>
</container>

{{>layouts/footer}}